body {
  font-family: Arial, Helvetica, sans-serif;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.gallery-item {
  min-height: 200px;
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery img {
  width: 100px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
}

.news-container {
  display: grid;
  /* Main content is 3 times wider thatn the sidebar */
  grid-template-columns: 3fr 1fr;
  /* Header and footer with auto height, main content grows*/
  grid-template-rows: auto 1fr auto;
  gap: 20px;
}

header,
article,
aside,
footer {
  padding: 20px;
  background-color: lightgrey;
}

header,
footer {
  /*
  * Span from the first to the last column
  */
  grid-column: 1 / -1;
}

article {
  grid-column: 1;
}

aside {
  grid-column: 2;
}

.card-container {
  display: grid;
  /* Creates as many columns */
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
}

.card {
  height: 300px;
  background-color: lightcoral;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  .card-container {
    /* Single column layout on small screens. */
    grid-template-columns: 1fr;
  }
}
